.Marker {
    display: flex;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #b663c5;
}

.MarkerTitle {
    color: #fff
}

.ActiveOffer {
    position: relative;
    background-color: #F2B606;
    z-index: 999;
}